@using ThinkGeo.MapSuite.MvcEdition
@using ThinkGeo.MapSuite.Core
@model ThinkGeo.MapSuite.MvcEdition.Map 
<div class="four columns" id="navigation">
    @{Html.RenderPartial("SourceCode");}
    <div id="instrux-body">
        <div id="instrux-text">
            This sample simply load a map from the stream of a shape file.
        </div>
    </div>
</div>
<div class="twelve columns" id="main">
    <div id="map">
        @{Html.ThinkGeo().Map(Model).Render();}
    </div>
</div>
