<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="MapSuiteDependency-GeoAPI" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-ZedGraph" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteWebForMvc-BareBone" version="10.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.5.3" />
  <package id="ThinkGeo.MapSuite" version="10.0.0" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="10.0.0" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.ZedGraph" version="10.0.0" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.ProductCenter" version="10.0.0" targetFramework="net45" />
</packages>